{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>COLLEGE MANTRA</title>
  <link rel="stylesheet" href="{% static 'colleges/home.css' %} ">
  <link rel="stylesheet" href="{% static 'common.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container_header">
      <img src="{% static 'logo.jpg' %}" alt="College Mantra Logo" class="logo">
      <h1 class="title">COLLEGE MANTRA</h1>
    </div>
  </header>  
  
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="{% url 'cm_app:about' %}">About</a></li>
      <li><a href="{% url 'cm_app:register' %}">Registration</a></li>
      <li><a href="{% url 'cm_app:contact' %}">Contact Us</a></li>
    </ul>
  </nav>
  

  <section id="hero">
    <div class="container">
      <h1>Welcome to COLLEGE MANTRA 2024</h1>
      <p>Join the seat allocation process for IITs, NITs, and other top engineering institutes in India</p>
    </div>
  </section>


  <footer>
    <div class="footer-content">
      <div class="footer-left">
        <p>© 2024 COLLEGE MANTRA | All rights reserved</p>
        <p>Content Owned and Managed by College Mantra (CM)</p>
      </div>
  
      <div class="footer-links">
        <ul>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-conditions">Terms & Conditions</a></li>
          <li><a href="cm_app:contact.html">Contact Us</a></li>
        </ul>
      </div>
  
      <div class="footer-social">
        <ul>
          <li><a href="https://facebook.com/college-mantra" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://x.com/college-mantra" target="_blank"><i class="fab fa-x"></i></a></li>
          <li><a href="https://linkedin.com/college-mantra" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>Powered by College Mantra | Designed with ❤️</p>
    </div>
  </footer>  
  

</body>
</html>